:root{
        --navLinks-font-family: "Raleway", sans-serif;
        --navLinks-font-size: 1.3em;
        /* --navLinks-font-weight: 400; */
        /* --navLinks-font-style: normal; */



        --slide1-title-font-family: "Bebas Neue", sans-serif;
        --slide1-title-size: 6.375em;
        --slide1-title-weight:bold;
        --slide1-title-style: normal;
        --slide1-title-line-height: 122.4pt;


        --slide1-para-font-family: "Raleway", sans-serif;
        --slide1-para-size:2.25em;
        --slide1-para-weight: 400;
        --slide1-para-style: normal;
        --slide1-para-line-height: line-height: 1.5em;


        --slide1-button-font-family:"Raleway", sans-serif;
        --slide1-button-size:48px;
        --slide1-button-weight:bold;

        --paragraph-text-font-family: "Raleway", sans-serif;
        --paragraph-text-font-size: 1em;
        --paragraph-text-line-height:  1.5em;

        --slide2-overLapText-font-family:"Raleway", sans-serif;
        --slide2-overLapText-font-size: 1.5em;
        --slide2-overLapText-line-height:1.25em;
        --slide2-overLapText-font-weight: bold;
        

        --slide2-h2-font-family:"Raleway", sans-serif;
        --slide2-h2-size: 1.5em;
        --slide2-h2-line-height:1.25em;
        --slide2-h2-font-weight: bold;

        --page-title-1-font-family: "Bebas Neue", sans-serif;
        --page-title-1-font-size: 2em;

        --page-title-2-font-family: "Bebas Neue", sans-serif;
        --page-title-2-font-size: 2.5em;

        --slide3-overlayTxt-font-family: "Bebas Neue", sans-serif;
        --slide3-overlayTxt-font-size: "Bebas Neue", sans-serif;

        --cta-button-font-family:"Raleway", sans-serif;
        --cta-button-font-size: 1.5em;
        --cta-button-font-weight: 600;
    }
