
body {
    margin: 0;
   padding: 0;
   height: 100%;
  }
 body {
    overflow-x: auto; /* Enable horizontal scrolling */
    overflow-y: hidden; /* Disable vertical scrolling */
    display: flex;
    flex-direction: row;
    
}
::-webkit-scrollbar {
  display: none;
}
 
#logo-img{
    position: absolute;
   
    top: 10px;
    left: 0px;
    width: 480px; 
    height: auto;
    transition: transform 0s ease-in-out;
}

.nav-main-container{
  
  width: 400px;
  transition: transform 0s ease-in-out ;
}

.hidden {
  transform: translateX(-10%) !important;
  opacity: 0 !important;;
}
#nav-bg-img{
  position: fixed;
  margin: 0;
  padding: 0;
  max-width: 220px;
  z-index: 9999;
  filter: drop-shadow(0 4px 24px rgba(0, 128, 0, 0.6));
  top: 50%;
  transform: translate(0%, -50%);

}

svg {
  position: fixed;
  z-index: 10000;
  top: 50%;
  transform: translate(10%,-50%);
  width: 600px;
  height: 500px;
 left:40%;
}
body {
  scrollbar-width: none;
  -ms-overflow-style: none; 
}

body::-webkit-scrollbar {
  display: none;
}

#curve{
  fill:transparent;
  left:1000px;
  
}

.nav-links a {
  text-decoration: none;
  font-size: 1.5em;
  font-weight: bold;
  fill:white;
}