.footer {
    width: 100vw;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
/*    display: none !important;*/
}

.left_col{
    width: 50%;
    padding: 40px 0 0 12%;
    /*  or 
    padding: 40px 0 0 170px;
    */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    position: relative;
}

.footer .left_col .headline {
    box-sizing: border-box;
    width: 100%;
}

.footer .left_col h1 {
    font-family: var(--bebasFontFam);
    font-weight: 400;
    font-style: var(--bebasFontStyle);
    color: var(--grayFont);
    font-size: 2em;
    line-height: auto;
    width: 100%;
}

.footer .left_col h2 {
    font-family: var(--bebasFontFam);
    font-weight: 400;
    font-style: var(--bebasFontStyle);
    color: var(--greenColor);
    font-size: 2.25em;
    line-height: auto;
    width: 100%;
}

.download span{
    font-family: var(--ralewayFontFam);
    font-optical-sizing: var(--ralewayFontOptical);
    font-weight: 600;
    font-style: var(--ralewayFontStyle);
    text-align: center;
    color: var(--whiteColor);
    background: var(--greenColor);

    font-size: 1.5em;
    line-height: auto;

    max-width: 250px;
    width: 250px;

    box-sizing: box;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0 20px 0;
} 

.download span:hover {
    transform: scale(1.05);
    transition: 0.5s ease;
}

.branch_row{
    display: flex;
    width: 100%;
    padding: 40px 0 0 0;
}

.branch {
    width: 90%;
    box-sizing: border-box;

}

.branch h1.branch_name {
    font-family: var(--ralewayFontFam);
    font-optical-sizing: var(--ralewayFontOptical);
    font-weight: 700;
    font-style: var(--ralewayFontStyle);
    color: var(--greenColor);
    font-size: 1.5em;
    line-height: auto;
}

.branch p.branch_address {
    font-family: var(--ralewayFontFam);
    font-optical-sizing: var(--ralewayFontOptical);
    font-weight: 400;
    font-style: var(--ralewayFontStyle);
    color: var(--grayFont);
    font-size: 1em;
    line-height: 1.25em;
    padding: 10px 0 0 0;
}

.icon_container {
    display: flex;
    flex-direction: row;
    column-gap: 25px;
    padding: 80px 0 0 0;
}

.icon_img {
    width: 25px; 
    height: auto;
}

.paddingTopIcon {
    padding-top: 3px;
}


/*ditogar*/

.right_col {
    background: #1D1D1D;
    width: 50%;
    padding: 40px 0 0 30px;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    position: relative;
}

.footer_Logo {
    width: 50px;
}

.footer_Logo img {
    width: 100%;
}

.acLogo img {
    width: 100%;
}

.footer_desc {
    padding: 40px 3% 40px 0;
}

.footer_desc p {
    font-family: var(--ralewayFontFam);
    font-optical-sizing: var(--ralewayFontOptical);
    font-weight: 600;
    font-style: var(--ralewayFontStyle);
    color: var(--whiteColor);
    font-size: 1em;
    line-height: 1.5em;
}

.footer_applyNow {
    all: unset;
}

.applyNow_CTA {
    font-family: var(--ralewayFontFam);
    font-optical-sizing: var(--ralewayFontOptical);
    font-weight: 600;
    font-style: var(--ralewayFontStyle);
    text-align: center;
    color: var(--whiteColor);
    background: var(--greenColor);

    font-size: 1.5em;
    line-height: auto;

    max-width: 250px;
    width: 250px;

    box-sizing: box;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0 20px 0;
}

.applyNow_CTA:hover {
    transform: scale(1.05);
    transition: 0.5s ease;
}

.footer_photoObject {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto;
}

.footer_photoObject img {
    width: 100%;
    height: auto;
    display: block;
}

@media only screen and (max-width: 1024px) {
    .flex_container {
        width: 700vw !important;
    }

    .footer {
        width: 200vw !important;
    }

    .left_col {
        width: 100vw !important;
    }

    .right_col {
        width: 100vw !important;
    }


}

@media only screen and (max-width: 600px) {
    .flex_container {
        width: 100vw !important;
    }

    .footer {
        width: 100vw !important;
    }

    .left_col {
        width: 100vw !important;
        padding: 40px 20px 40px 20px;
    }

    .right_col {
        width: 100vw !important;
        padding-bottom: 300px;
    }

    .footer {
        flex-direction: column;
    }
}

