.intro2_container {
	position: relative;
	width: 100vw;
	display: flex;
	align-items: center;
	justify-content: center;
}

.width90 {
	width: 90%;
	padding: 0 0 0 100px;
	display: flex;
	flex-direction: row;
}

.intro2_col1 {
	position: relative;
	width: 50%;
}

.intro2_col1 > div {
	position: relative;
}

.intro2_col1 > .title {
	padding: 20px 0 0 0;
	position: relative;
}

.intro2_col1 > .title > h2 {
	font-family: var(--ralewayFontFam);
	font-optical-sizing: var(--ralewayFontOptical);
	font-weight: 700;
	font-style: var(--ralewayFontStyle);
	color: var(--greenColor);
	font-size: 1.5em;
	line-height: 1.4em;
}

.student_discussion {
	width: 100%;
}

.green_container {
	background: var(--greenColor);
	position: absolute;
	right: -50%;
	bottom: 10%;
	width: 90%;
	min-width: 350px;
	max-width: 500px;
	box-sizing: border-box;
	padding: 20px;
}

.green_container p {
	font-family: var(--ralewayFontFam);
	font-optical-sizing: var(--ralewayFontOptical);
	font-weight: 700;
	font-style: var(--ralewayFontStyle);
	color: var(--whiteColor);
	font-size: 1.5em;
	line-height: 1.5em;
}

.intro2_photoObject_mobile {
	position: absolute;
	top: 100px;
	right: 0;
	width: 250px;
	height: auto;
	display: none;
}

.hideOnMobile {
	display: block;
}

.intro2_col2 {
	width: 50%;
	position: relative;
}

.intro2_col2 > p {
	font-family: var(--ralewayFontFam);
	font-optical-sizing: var(--ralewayFontOptical);
	font-weight: 400;
	font-style: var(--ralewayFontStyle);
	color: var(--grayFont);
	font-size: 1em;
	line-height: 1.7em;
	width: 55%;
	padding: 0 0 0 10%;
}

.intro2_photoObject_desktop {
	position: absolute;
	top: 100px;
	right: -10px;
	width: 250px;
	height: auto;
}

.intro2_photoObject_desktop > img {
	width: 100%;
	rotate: 50deg;
}

@media only screen and (max-width: 1024px) {

	.width90 {
		flex-direction: column;
		padding: 0 0 0 0;
		width: 100%;
		max-width: 500px;
	}

	.intro2_col1,
	.intro2_col2 {
		width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
	}

	.intro2_col1 > .title {
		width: 100%;
		max-width: 100%;
	}

	.intro2_col2 > p {
		width: 100%;
		padding: 0;
	}

	.green_container {
		display: none;
	}

	.showOnMobile {
		display: block;
	}

	.green_container.showOnMobile {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		max-width: 100%;
		height: auto;
		padding: 10px;
	}

	.green_container > p {
		font-size: 1em;
		line-height: 1.2em;
	}

	.green_container {
		width: 100%;
		min-width: auto;
	}

	.intro2_photoObject_desktop {
		position: absolute;
		top: 10%;
		right: 2%;
		width: 125px;
		max-width: 125px;

		height: auto;
		display: block;
	}

	.intro2_photoObject_desktop > img {
		width: 100%;
		rotate: 20deg;
	}
}

@media only screen and (max-width: 600px) {
	
	.intro2_container {
		width: 100%;
		height: auto;
	}

	.width90 {
		width: 100%;
		max-width: none;
		padding: 0 20px 0 20px;
		margin: 0 auto;
		box-sizing: border-box;
	}

	.intro2_col1,
	.intro2_col2 {
		width: 100%;
	}

	.student_discussion {
		all: unset;
		width: 100%;
		min-width: 100px;
		max-width: 100%;
	}

	.intro2_photoObject_mobile {
		position: absolute;
		top: 0;
		right: -10px;
		width: 125px;
		max-width: 125px;

		height: auto;
		display: block;
	}

	.intro2_photoObject_mobile > img {
		width: 100%;
		rotate: 20deg;
	}

	.hideOnMobile {
		display: none;
	}

	.intro2_photoObject_desktop {
		position: absolute;
		top: 100px;
		right: 0;
		width: 250px;
		height: auto;
		display: none;
	}
}
